<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zj.play" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".PlayActivity"
            android:configChanges="orientation|screenLayout|screenSize|keyboardHidden"
            android:screenOrientation="sensor" />

    </application>

</manifest>
