<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zj.audio" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".AuditActivity" />

    </application>

</manifest>
